 *{
   font-family: 'Courier New', Courier, monospace;
 }
 body{
   padding:60px
 }
 input{
   font-size: 1.2rem;
   width: 100%;
   color:grey;
 }
 .cards{
   align-content: center;
   border:1px solid grey;
   border-radius: 6px;
   margin-bottom: 10px;
   margin-right: 10px;
   overflow: hidden;
  }

  .card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }